/node_modules
dist/*
node_proprietary_modules/*
!node_proprietary_modules/flowchart-logyc-1.0.0.tgz
/public/hot
/public/js
/public/css
/public/storage
/public/vendors~canvg.js
/public/vendors~pdfmake.js
/public/vendors~xlsx.js
/public/xlsx.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
logyc-platform-firebase-private-key.json
Homestead.yaml
npm-debug.log
yarn-error.log
firebase-debug.log
firestore-debug.log
package-lock.json